# API 代理配置
# 开发环境下，前缀为 /api 的请求将被代理到此地址
API_PROXY_TARGET=http://localhost:3001

# 模块联邦配置
# 设置为 true 启用 Module Federation，允许跨应用共享模块
ENABLE_MF=false

# 应用版本
# 可在应用中通过 __APP_VERSION__ 访问
APP_VERSION=1.0.0

# 环境标识
# 可在应用中通过 __DEV__ 访问当前是否为开发环境
NODE_ENV=development
